/* GLOBAL STYLES */
body {
  background: #333;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: pink }
}

#form-section {
  display: inline-block;
  margin-top: 30px;
}

#form-btn {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: pink;
  font-family: 'Lato', sans-serif;
}

#prototype-image {
  width: 10vw;
  min-width: 200px;
  border-radius: 5px;
  border: 5px solid white;
  margin-top: 30px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

#texteditor {
  height: 70vh;
  outline: none;
  background-color: white;
  font-size: 20px;
  resize: none;
  font-family: 'Courier';
}